.Printer .printer-list {
    height: calc(100vh - 121px);
    width: calc(100vw - 169px);
    font-family: Arial, sans-serif;
    color: #333;
  }
  
  .Printer .steps-header {
    height: 40px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
  }
  
  .Printer  .step {
    flex: 1;
    text-align: center;
    padding: 10px;
    font-weight: bold;
    color: #555;
  }

  
  .Printer {
    background-color: #eef0fc;
    height: calc(100vh - 161px);
    width: calc(100vw - 209px);
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
  }
  
  .Printer  .printer-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border: 1px solid #aeaeae;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .Printer  .printer-item:hover {
    background-color: #f9f9f9;
  }
  
  .Printer  .printer-item.selected {
    border-color: #007bff;
    background-color: #eaf4ff;
  }
  
  .Printer  .printer-image {
    width: 80px;
    height: 80px;
    margin-right: 15px;
    object-fit: contain;
  }
  
  .Printer   .printer-details {
    flex: 1;
  }
  
  .Printer   .printer-details h3 {
    margin: 0 0 10px;
    font-size: 16px;
  }
  
  .Printer  .printer-details ul {
    list-style: none;
    padding: 0;
    margin: 0 0 10px;
  }
  
  .Printer   .printer-details ul li {
    font-size: 14px;
  }
  
  .Printer  .printer-details ul li.check::before {
    content: "\2714 ";
    color: green;
  }
  
  .Printer  .printer-details ul li.cross::before {
    content: "\2716 ";
    color: red;
  }
  
  .Printer .status {
    font-weight: bold;
    color: #555;
  }

  .Printer  .status#busy {
    font-weight: bold;
    color: red;
  }
  
  .Printer  .status#free {
    font-weight: bold;
    color: green;
  }
  

  .Printer  .printer-extra-details {
    padding: 10px 15px;
    margin-top: -10px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border: 1px solid #aeaeae;
    border-top: none;
    background-color: #f9f9f9;
    font-size: 14px;
    color: #555;
  }
  
  .Printer  .actions {
    height: 40px;
    display: flex;
    position: absolute;
    right: 0px;
    bottom: 10px;
  }
  
  .Printer  .back-button {
    margin-left: 24px;
    margin-right: 24px;
    padding: 10px 20px;
    background-color: #d32f2f;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Printer   .confirm-button {
    margin-right: 35px;
    padding: 10px 30px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .Printer  .confirm-button:hover {
    background-color: #0056b3;
  }