.DocumentDetail {
    height: calc(100%);
    width: calc(100vw - 169px);
    background-color: #eef0fc;
    align-content: center;
}

.DocumentDetail .base {
    background-color: white;
    border-radius: 12px;
    height: calc(100vh - 121px - 80px);
    width: calc(100vw - 169px - 80px);
    margin-left: 40px;
    align-content: center;
}

.DocumentDetail .document {
    border: 2px solid black;
    object-fit: contain;    
    height: calc(100vh - 260px);
    width: 369px;
    margin-left: 40px;
}

.DocumentDetail .document#monochrome {
    filter: grayscale(1);
}

.DocumentDetail .info .action {
    background-color: white;
    border: none;
    position: absolute;
    margin-left: 20px;
}

.DocumentDetail .info .action#up {
    top: 180px;
}

.DocumentDetail .info .action#down {
    top: 230px;
}

.DocumentDetail .info .action img {
    height: 36px;
}

.DocumentDetail .info .action img:hover {
    filter: hue-rotate(10deg) saturate(0.7);
}

.DocumentDetail .info {
    display: inline-block;
    height: calc(100vh - 257px);
    width: calc(100vw - 169px * 2 - 369px);
}

.DocumentDetail .info .name {
    display: flex;
    position: absolute;
    font-size: 32px;
    font-weight: 500;
    margin-left: 69px;
    padding-top: 10px;
}

.DocumentDetail .info .file {
    display: flex;
    position: absolute;
    top: 230px;
    font-size: 16px;
    font-weight: 300;
    color: #aeaeae;
    margin-left: 69px;
    padding-top: 10px;
}

.DocumentDetail .printer {
    position: absolute;
    top: 269px;
    margin-left: 69px;
    font-size: 20px;
    font-weight: 300;
    padding-top: 10px;
}

.DocumentDetail .config {
    position: absolute;
    top: calc(100vh - 320px);
    margin-left: 69px;
    font-size: 20px;
    font-weight: 500;
}

.DocumentDetail .detailList {
    height: auto;
    padding: 0;
    font-size: 20px;
    position: absolute;
    top: calc(100vh - 320px);
    margin-left: 169px;
    font-weight: 300;
}

.DocumentDetail .detailList .row {
    height: 30px;
    list-style-type: none;
    text-indent: 0px;
    margin: 0%;
    flex-direction: row;
    color: black;
    justify-content: left;
}
