.History {
    overflow: hidden;
    height: calc(100vh - 121px);
    width: calc(100vw - 169px);
    background-color: #eef0fc;
}

.History .tab-list {
    height: 50px;
    width: calc(100% - 20px);
    margin: auto;
}

.History .tab-list button {
    background-color: white;
    border: 1px solid #032b91;
    border-bottom: 3px solid #032b91;
    border-right: 2px solid #032b91;
    border-radius: 12px;
    margin: 15px;
    height: calc(100% - 5px);
    width: calc(50% - 30px);
    font-size: 20px;
    text-align: center;
    align-content: center;
}

.History .tab-list button p {
    color: #032b91;
    font-weight: 500;
    position: relative;
    top: 7px;
}

.History .tab-list button .notif {
    height: 24px;
    width: 24px;
    border-radius: 12px;
    display: inline-block;
    font-size: 18px;
    color: white;
    text-align: center;
    position: relative;
    bottom: 21px;
    left: calc(50% - 32px);
}

.History .tab-list button#active {
    background-color: #dfdfdf;
    border: 1px solid #032b91;
    border-top: 3px solid #032b91;
    border-left: 2px solid #032b91;
}

.History .tab-list button .notif#active {
    background-color: red;
}

.History .tab-list button .notif#inactive {
    background-color: #aeaeae;
}

.History .filter {
    background-color: white;
    margin: 25px;
    margin-top: 20px;
    margin-bottom: 5px;
    border-bottom: 2px solid #aeaeae;
    border-right: 1px solid #aeaeae;
    border-radius: 12px;
    display: flex;
    height: 40px;
}

.History .filter .search-bar {
    border-radius: 5px;
    height: 40px;
    width: calc(100% - 105px);
    align-items: center;
}

.History .filter .search-bar img.search-icon {
    padding-left: 12px;
    height: 16px;
}

.History .filter .search-bar #search {
    border: none;
    outline: none;
    margin-top: 5px;
    height: 30px;
    width: calc(100% - 42px);
    padding-left: 8px;
    font-size: 15px;
    text-align: left;
}

.History .filter .field {
    float: left;
}

.History .filter .field select {
    height: 100%;
    width: 100px;
    text-align: center;
    font-size: 15px;
    border: hidden;
    outline: none;
}

.History .list {
    margin-left: 25px;
    margin-right: 25px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: auto;
    height: 100%;
    width: auto;
}

.History .list .row {
    margin-top: 5px;
    margin-bottom: 10px;
    border-bottom: 2px solid #aeaeae;
    border-right: 1px solid #aeaeae;
    border-radius: 12px;
    background-color: white;
    height: 120px;
    padding-left: 32px;
    font-weight: 350;
    font-size: 20px;
    color: black;
}


.History img#picture {
    object-fit: contain;
    height: 100px;
    width: 100px;
    position: relative;
    top: 10px;
}

.History .info {
    height: 120px;
    width: calc(100% - 140px);
    display: inline-block;
}

.History .info .title {
    position: relative;
    bottom: 30px;
}

.History .row#printing .info progress{
    width: calc(100% - 140px);
    margin-left: 32px;
}

.History .back {
    position: fixed;
    width: 100px;
    background-color: white;
    border-radius: 999px;
    border: 1px solid #032b91;
    border-bottom: 2px solid #032b91;
    border-right: 1px solid #032b91;
    left: 190px;
    top: 134px;
    height: 32px;
}

.History .back:active {
    background-color: #dfdfdf;
    border-radius: 999px;
    border: 1px solid #032b91;
    border-top: 2px solid #032b91;
    border-left: 1px solid #032b91;
    left: 190px;
    top: 134px;
    height: 32px;
}