.Context {
    display: flex;
    font: "Inter";
}
  
.schoolfield {
    object-fit: cover;
    height: 55vh;
    width: 87vw; 
}

p#home {
    position: relative;
    top: 20px;
    bottom: 20px;
    white-space: pre-line;
    font-size: 20px;
    color: #2e2edf;
    text-indent: 20px;
}

p#leftfixed {
    position: fixed;
    bottom: 4px;
    left: 204px;
    white-space: pre-line;
    font-size: 15px;
    font-style: italic;
    color: #aeaeae;
    text-indent: 0px;
}

p#rightfixed {
    position: fixed;
    bottom: 4px;
    right: 10px;
    white-space: pre-line;
    font-size: 15px;
    font-style: italic;
    color: #aeaeae;
    text-indent: 0px;
}


  