.icon {
    height: 24px;
}

.file {
  position: fixed;
  top: calc(18vh + 16px);
  left: calc(13vw + 32px);
  width: 87vw;
  height: 60px;
  text-indent: 0;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  color: black;
}

.file a#plus {
    position: fixed;
    top: calc(18vh - 4px);
    right: 20px;
    width: 87vw;
    height: 60px;
    text-indent: 0;
    font-weight: 500;
    font-size: 50px;
    color: black;
    text-align: right;
}

.list {
    position: fixed;
    top: calc(18vh + 59px);
    left: calc(13vw + 0px);
}

.list .row {
    border-top: 1px solid #aeaeae;
    width: 87vw;
    height: 60px;
    text-indent: 32px;
    font-weight: 350;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    color: black;
    align-items: center;
}
  
.tick {
    position: fixed;
    right: 84px;
}

.cross {
    position: fixed;
    right: 22px;
}

