.Print {
    background-color: #eef0fc;
    height: calc(100vh - 121px);
    width: calc(100vw - 169px);
}

.Print .icon {
    height: 24px;
}

.Print .file { 
    margin: 16px;
  background-color: white;
  border-bottom: 2px solid #aeaeae;
border-right: 1px solid #aeaeae;
  border-radius: 12px;
  height: 60px;
  text-indent: 0;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  color: black;
}

.Print .file label{ 
    width: calc(100% - 98px);
    padding-left: 32px;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    color: black;
    align-items: center;
}

.Print .file #plus {
    font-weight: 500;
    font-size: 44px;
    color: black;
    text-align: right;
    align-items: center;
}

.Print .list {
    background-color: white;
    border-bottom: 2px solid #aeaeae;
    border-right: 1px solid #aeaeae;
    margin: 16px;
    border-radius: 12px;
    overflow-x: hidden;
    overflow-y: auto;
    scroll-behavior: auto;
    height: auto;
    width: auto;
}

.Print .list .row {
    border-bottom: 1px solid #aeaeae;
    height: 60px;
    text-indent: 32px;
    font-weight: 350;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    color: black;
    align-items: center;
    width: auto;
    padding-right: 42px;
}
  
.Print .list .row div {
    justify-content: flex-end;
    margin-left: auto;
}

.Print .list .row .cross {
    margin-left: 24px;
}

