* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  justify-content: space-between;
  align-items: center;
}

.title {
  width: 800px;   
}

.Context {
  display: flex;
}

.background {
  background-color: white;
  min-height: 88vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Banner {
  background-color: #032b91;
  min-height: 18vh;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Banner .menu-bar {
  color: white; 
}

.Banner .menu-bar a {
  text-decoration: none;
  font-size: 15pt;
  color: white;
  font-weight: medium;
  text-decoration: underline;
}

.Banner .menu-bar a:hover {
  color: #007BFF;
}

.Sidebar {
  display: flex;
  height: 82vh;
  width: 190px;
  background-color: #3596ff;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
  font-size: 15pt;
}

.SidebarList .row {
  width: 100%;
  height: 60px;
  list-style-type: none;
  text-indent: 50px;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: left;
  align-items: center;
}

.SidebarList #active {
  background-color: #eeeeee;
  color: black;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: #032b91;
}