@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  justify-content: space-between;
  align-items: center;
}

.title {
  position: relative;
  left: 30px;
  width: 800px;   
}

.avatar {
  padding-right: 25px;
  padding-top: 10px;
  border-color: white;
  border: 10px;
}

.Banner {
  background-color: #032b91;
  min-height: 18vh; 
  font-size: calc(10px + 2vmin);
  color: white;
}

.Banner .menu-bar {
  color: white; 
}

.Banner .menu-bar a {
  text-decoration: none;
  font-size: 15pt;
  color: white;
  font-weight: medium;
  text-decoration: underline;
}

.Banner .menu-bar a:hover {
  color: #007BFF;
}