.Login {
  align-content: center;
  overflow: hidden;
  height: calc(100vh - 121px);
  width: 100vw; 
}

.Login .schoolbg {
    filter: brightness(0.7) blur(1px);
    object-fit: cover;
    height: auto;
    width: 100vw; 
}

.Login h2#login {
    text-align: center;
    font-variation-settings: "wdth" 120;
    font-size: 32px;
    font-weight: 500;
    padding-bottom: 2vh;
}

.Login .label {
    text-indent: 50px;
    text-align: left;
}

.Login .login-window {
    position: fixed;
    top: calc((100vh - 480px) / 2 + 121px);
    left: calc((99vw - 420px) / 2);
    height: 369px;
    width: 420px;
    border-radius: 24px;
    border-width: 10px;
    border-color: #032b91;
    background-color: white;
  }
  
  .Login  .login-window .login-context {
    position: relative;
    justify-content: center;
    align-items: center;
    top: 32px;
    font-weight: 350;
  }
  
  .Login  .login-window .login-context button{
    position: relative;
    justify-content: center;
    align-items: center;
    top: 64px;
  }
  
  .Login .form-control {
    position: relative;
    height: 33px;
    width: 321px;
    border-radius: 5px;
    border-color: #aeaeae;
    border-style: normal;
    text-indent: 10px;
    color: black;
    top: 8px;
}

.Login .form-control#email {
  position: relative;
  left:8px;
  color: black;
}

.Login .email {
    padding-top: 20px;
    height: 50px;
    text-align: center;
  }
  
  .Login   .password {
    padding-top: 24px;
    height: 50px;
    text-align: center;
  }
  
  .Login .form-submit {
    text-align: center;
}
.Login .forgot-password {
    padding-right: 50px;
    text-align: right;
    justify-content: center;
    text-decoration: underline;
    color:#7834b3;
}

.Login button#submit {
    height: 36px;
    width: 324px;
    border-radius: 5px;
    background-color: #032b91;
    color: white;
    border: none;
}